
h1{
    color: grey;
    text-align: center;
    font-weight: bolder;
}
.centerdiv{
    position: relative;
    display: inline-block;
    padding: 50px 0 0 50px;
    left: 50px;
    
}
p{
    text-align: center;
}
button{
    position: relative;
    left: 100px;
}



